!!! 5
%html{:lang => 'fr'}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %title FranceMoz

  %body

    = yield

    %footer
      %p
        Copyright 2013 FranceMoz

      :javascrit
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38460324-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

