!!! 5
%html{:lang => 'fr'}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %title FranceMoz

  %body

    = yield

    %footer
      %p
        Copyright 2013 FranceMoz
